
<head>
  <meta http-equiv="" content="3">
  <%= stylesheet_link_tag "meal_plan_show", media: 'all' %>
</head>
<div class="profile d-flex flex-column justify-content-around mt-3">
  <div class="row">
    <div class="col-12 col-md-6 d-flex flex-column align-items-center ">
      <div class="profile-photo">
        <% if current_user.photo.file.nil? %>
        <%= image_tag "default-avatar.jpg", class: "profile-avatar" %>
        <% else %>
        <%= cl_image_tag current_user.photo, class: "profile-avatar" %>
        <% end %>
      </div>
      <div class="profile-info text-center">
        <h6>name: <span class="user-info"><%= current_user.name %></span></h6>
        <h6>email: <span class="user-info"><%= current_user.email %></span></h6>
        <h6>meals cooked: <span class="user-info"><%= @meals_cooked %></span></h6>
      </div>
    </div>
    <div class="col-12 col-md-6">
      <div class="meal-plan-progress mx-3">
        <h2 class="text-center">Current meal plan</h2>
        <%= link_to meal_plan_path(current_user.active_plan), class: 'current-meal-plan-card-link' do %>
        <div class="current-meal-plan-card mt-4">
          <div class="current-meal-plan-info d-flex mb-3">
            <div class="diet-type-icon d-flex flex-column align-items-center">
              <% case current_user.active_plan.diet_type %>
              <% when 'Ketogenic' %>
              <%= image_tag "keto-diet.png" %>
              <%= 'Ketogenic' %>
              <% when 'Vegan' %>
              <%= image_tag "vegan-diet.png" %>
              <%= 'Vegan' %>
              <% when 'Vegetarian' %>
              <%= image_tag "vegetarian-diet.png" %>
              <%= 'Vegetarian' %>
              <% when 'Paleo' %>
              <%= image_tag "paleo-diet.png" %>
              <%= 'Paleo' %>
              <% when 'Primal' %>
              <%= image_tag "primal-diet.png" %>
              <%= 'Primal' %>
              <% when '' %>
              <div class='no-diet-type'></div>
              <%= 'Not specify' %>
              <% end %>
            </div>
            <div class="current-meal-plan-details">
              <h3><%= current_user.active_plan.created_at.strftime("%b %d, %Y") %></h3>
              <h5>Calories: <span class="meal-filter-info"><%= current_user.active_plan.calories %></span></h5>
              <h5>Allergies/ dislikes: <span class="meal-filter-info"><%= (current_user.active_plan.exclusions).split(',').join(', ').last((current_user.active_plan.exclusions).split(',').join(', ').length - 1) %></span></h5>
            </div>
          </div>
          <div class="progress-track">
            <h6>Meals cooked:</h6>
            <div class="progress mb-2">
              <div class="progress-bar" role="progressbar" style="width:<%= current_user.active_plan.meals_cooked_percent %>%" aria-valuenow="<%= current_user.active_plan.meals_cooked_percent %>" aria-valuemin="0" aria-valuemax="100">
                <%= current_user.active_plan.meals_cooked_percent %>%
              </div>
            </div>
            <h6>Ingredients bought:</h6>
            <div class="progress">
              <div class="progress-bar" role="progressbar" style="width:<%= current_user.active_plan.ingredients_bought_percent %>%" aria-valuenow="<%= current_user.active_plan.ingredients_bought_percent %>" aria-valuemin="0" aria-valuemax="100">
                <%= current_user.active_plan.ingredients_bought_percent %>%
              </div>
            </div>
          </div>
        </div>
        <% end %>
      </div>
    </div>
  </div>
</div>

<div class="user-activity d-flex align-items-center">
  <div class="col-12 col-md-12">
    <div class="cooked-meal-container mx-3">
      <h1 class="appear-on-load d-none">Your groceries. By aisle. 👍</h1>
      <%= simple_form_for :purchased, url:  edit_meal_plan_path(@meal_plan), method: 'patch', :html=> { class: 'ingr_form_list' } do |f| %>
        <% i = 0 %>
        <% @meal_plan.ingr_by_aisle.keys.sort.each do |aisle| %>
          <div class="ingr_parent_list col-10 col-md-9">
            <div class="aisle">
              <div><%= aisle %> <span class="ratio"> (<%= raw(MealPlan.purchased_ratio(@meal_plan.ingr_by_aisle[aisle])) %>)</span></div>
              <span class="down-caret" style="align=center;"><i class="fas fa-caret-down"></i></span></div>
          </div>
          <div class="ingr-list d-none">
            <div class="row col-10 col-md-9">
              <% @meal_plan.ingr_by_aisle[aisle].each do |ingr_name, dose_info| %>
                <%#=dose_info is an array with two elements: dose_info[0] is the dose amount as a string and dose_info[1] is the dose id %>
                <div class="col-12 col-md-6 list-item mt-3 dose" data-aisle-index=<%= "#{i}" %>>
                  <%= ingr_name.titleize %><em><%= dose_info[0] %></em>
                  <div class="purchased d-none">
                    <%= f.input dose_info[1], as: :boolean, input_html: { checked: Dose.find(dose_info[1]).purchased } %>
                  </div>
                </div>
              <%end%>
            </div>
          </div>
          <% i += 1 %>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
<script>
  let pans = document.querySelectorAll('.loading-pan');
    let doses = document.querySelectorAll('.dose');
    let onLoadElements = document.querySelectorAll('.appear-on-load')
    if(doses.length > 0) {
      pans.forEach((pan) => {
        pan.style.display = 'none'
      });
      onLoadElements.forEach((element) => {
        element.classList.remove('d-none');
      });
    } else {
      console.log('no ingredients yet')
    }
</script>
