<head>
  <meta http-equiv="" content="3">
  <%= stylesheet_link_tag "meal_plan_show", media: 'all' %>
</head>
<div class="ingredient-list">
  <ul class="nav justify-content-center" id="pills-tab" role="tablist">
    <li class="nav-item">
      <a class="nav-link active rounded-left" id="pills-profile-tab" data-toggle="pill" href="#pill-recipe" role="tab" aria-controls="pills-home">Your week's recipes</a>
    </li>
    <li class="nav-item">
      <a class="nav-link rounded-right" id="pills-list-tab" data-toggle="pill" href="#pill-list" role="tab" aria-controls="pills-profile">Your week's grocery list</a>
    </li>
  </ul>
  <div class="tab-content mt-4 mx-2" id="pills-tabContent">
    <div class="tab-pane fade show active" id="pill-recipe" role="tabpanel">
      <div class="cards">
        <div class="loading col-9 col-md-6">
          <h4 class="loading-pan loading-text">We're cooking up a new meal plan just for you...</h4>
          <%= image_tag 'frying-pan.gif', class: "loading-pan" %>
        </div>
        <h1 class="appear-on-load d-none"><%= current_user.name.capitalize %>, here are your recipes for the week 😋 </h1>
        <br>
        <br>
        <h2 class="appear-on-load d-none">Breakfast</h2>
        <div class="row">
          <% @breakfast_meals.each do |meal| %>
            <div class="col-12 col-sm-6 col-md-4 mt-5">
              <%= link_to meal_plan_meal_path(@meal_plan, meal), class: 'recipe-link' do %>
                <div class="recipe-card">
                  <%= image_tag meal.image_url, crop: :fill %>
                  <h5 class="title"><%= meal.title %></h5>
                  <div class="recipe-info recipe_summary d-flex justify-content-end py-2">
                    <div class="recipe_summary_ingredient">
                      <span class="value font_light_big h2_text"> <%= meal.doses.count %> </span>
                      <span class="unit font_light_small">Ingredients</span>
                    </div>
                    <% unless meal.prep_time.nil? %>
                      <div class="recipe_summary_time">
                        <span class="value font_light_big h2_text"> <%= meal.prep_time %> </span>
                        <span class="unit font_light_small">Minutes</span>
                      </div>
                    <% end %>
                  </div>
                </div>
              <% end %>
            </div>
          <% end %>
        </div>
        <h2 class="appear-on-load d-none">Lunch</h2>
        <div class="row">
          <% @lunch_meals.each do |meal| %>
            <div class="col-12 col-sm-6 col-md-4 mt-5">
              <%= link_to meal_plan_meal_path(@meal_plan, meal), class: 'recipe-link' do %>
                <div class="recipe-card ">
                  <%= image_tag meal.image_url, crop: :fill %>
                  <h5 class="title"><%= meal.title %></h5>
                  <div class="recipe-info recipe_summary d-flex justify-content-end py-2">
                    <div class="recipe_summary_ingredient">
                      <span class="value font_light_big h2_text"> <%= meal.doses.count %> </span>
                      <span class="unit font_light_small">Ingredients</span>
                    </div>
                    <% unless meal.prep_time.nil? %>
                      <div class="recipe_summary_time">
                        <span class="value font_light_big h2_text"> <%= meal.prep_time %> </span>
                        <span class="unit font_light_small">Minutes</span>
                      </div>
                    <% end %>
                  </div>
                </div>
              <% end %>
            </div>
          <% end %>
        </div>
        <h2 class="appear-on-load d-none">Dinner</h2>
        <div class="row">
          <% @dinner_meals.each do |meal| %>
            <div class="col-12 col-sm-6 col-md-4 mt-5">
              <%= link_to meal_plan_meal_path(@meal_plan, meal), class: 'recipe-link' do %>
                <div class="recipe-card">
                  <%= image_tag meal.image_url, crop: :fill %>
                  <h5 class="title"><%= meal.title %></h5>
                  <div class="recipe-info recipe_summary d-flex justify-content-end py-2">
                    <div class="recipe_summary_ingredient">
                      <span class="value font_light_big h2_text"> <%= meal.doses.count %> </span>
                      <span class="unit font_light_small">Ingredients</span>
                    </div>
                    <% unless meal.prep_time.nil? %>
                      <div class="recipe_summary_time">
                        <span class="value font_light_big h2_text"> <%= meal.prep_time %> </span>
                        <span class="unit font_light_small">Minutes</span>
                      </div>
                    <% end %>
                  </div>
                </div>
              <% end %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
    <script>
      <%# while @meal_plan.meals.any? %>
      <% if @meal_plan.meals.empty? %>
      // removeFryingPan();
      <% end %>
      <%# end %>
    </script>
    <div class="tab-pane fade" id="pill-list" role="tabpanel" >
      <div class="loading col-12 col-md-6">
        <h4 class="loading-pan loading-text">We're cooking up a new meal plan just for you...</h4>
        <%= image_tag 'frying-pan.gif', class: "loading-pan" %>
      </div>
      <h1 class="appear-on-load d-none">Your groceries. By aisle. 👍</h1>

      <%= simple_form_for :purchased, url: meal_plan_path(@meal_plan), method: 'patch', :html=> { class: 'ingr_form_list' } do |f| %>
      <div class="form-row">
        <div class="col-2">
          <%= f.submit "DIY!", class: "btn btn-secondary time-to-cook col-2 col-md-1" %>
        </div>
         <div class="col-2">
           <%= link_to "Shop for me",  new_meal_plan_delivery_path(@meal_plan), class: "btn btn-warning time-to-cook col-2 col-md-1" %>
         </div>
         <div class="col-2">
           <%= link_to "Cook for me",  new_meal_plan_delivery_path(@meal_plan), class: "btn btn-success time-to-cook col-2 col-md-1" %>
         </div>

      </div>

        <% i = 0 %>

        <% @meal_plan.ingr_by_aisle.keys.sort.each do |aisle| %>
          <div class="ingr_parent_list col-10 col-md-9">
            <div class="aisle">
              <div><%= aisle %> <span class="ratio"> (<%= raw(MealPlan.purchased_ratio(@meal_plan.ingr_by_aisle[aisle])) %>)</span></div>
              <span class="down-caret" style="align=center;"><i class="fas fa-caret-down"></i></span></div>
          </div>
          <div class="ingr-list d-none">
            <div class="row col-10 col-md-9">
              <% @meal_plan.ingr_by_aisle[aisle].each do |ingr_name, dose_info| %>
                <%#=dose_info is an array with two elements: dose_info[0] is the dose amount as a string and dose_info[1] is the dose id %>
                <div class="col-12 col-md-6 list-item mt-3 dose" data-aisle-index=<%= "#{i}" %>>
                  <%= ingr_name.titleize %><em><%= dose_info[0] %></em>
                  <div class="purchased d-none">
                    <%= f.input dose_info[1], as: :boolean, input_html: { checked: Dose.find(dose_info[1]).purchased } %>
                  </div>
                </div>
              <%end%>
            </div>
          </div>
          <% i += 1 %>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
<script>
  let pans = document.querySelectorAll('.loading-pan');
    let doses = document.querySelectorAll('.dose');
    let onLoadElements = document.querySelectorAll('.appear-on-load')
    if(doses.length > 0) {
      pans.forEach((pan) => {
        pan.style.display = 'none'
      });
      onLoadElements.forEach((element) => {
        element.classList.remove('d-none');
      });
    } else {
      console.log('no ingredients yet')
    }
</script>
